# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


ros2-raspbian-rootfs
ros2-raspbian-rootfs.tar

/ros2_ws/*
!/ros2_ws/cross_compile.sh
!/ros2_ws/rpi3_toolchainfile.cmake
